//Structure
$white: #fff;

//Text
$subtext-color: #828282;

//Order Status
$waiting-pay: #f98000;
$organize: #eeb100;
$organizing: #1293db;
$shipping: #7fc600;
$received: #428b3e;
$wait-confirm: #e93b6f;
$cancel: #d73c35;
